body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #757575, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background: linear-gradient(to bottom, #757575, #434343);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  width: 300px;
}

.heading,
.counter-machine {
  color: #fff;
  margin: 0;
}

.counter {
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 20px;
  margin: 20px auto;
  height: 100px;
  width: 100px;
  background-color: #282828;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-counter {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-counter:hover {
  background-color: #0056b3;
}

.positive {
  border-color: green;
}

.negative {
  border-color: red;
}
