* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
  background-color: #189481;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.submit {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #189481;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #0f6f6a;
}

.invalid-message {
  background-color: red;
  color: white;
  padding: 0.2rem;
  margin-top: 5px;
  border-radius: 5px;
  display: none;
}

.message-content {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #0b4d0f;
}
